<div class="page-container">
  
  <header class="page-header">
    <div class="header-titles">
      <h1>Setores</h1>
    </div>
    <button class="btn-primary" (click)="abrirModal()">
      + Cadastrar Setor
    </button>
  </header>

  <main class="page-content">
    <div class="table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th>Nome do Setor</th>
            <th>Propriedade</th>
            <th>Área (Hectares)</th>
            <th>Cultura / Plantio</th>
            <th>Status</th>
            <th>Data de Encerramento</th>
            <th>Ações</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngIf="carregandoTabela">
            <td colspan="6" class="text-center" style="padding: 2rem;">Carregando setores...</td>
          </tr>

          <tr *ngIf="!carregandoTabela && listaSetores.length === 0">
            <td colspan="6" class="text-center" style="padding: 2rem;">Nenhum setor cadastrado para esta propriedade.</td>
          </tr>

          <tr *ngFor="let setor of listaSetores">
            <td>{{ setor.nome }}</td>
            <td>{{ setor.nomePropriedade }}</td>
            <td>{{ setor.hectares }}</td>
            <td>{{ setor.plantio || 'Não definido' }}</td>
            <td>
              <span class="status-badge" [ngClass]="setor.status | lowercase">
                {{ setor.status.replace('_', ' ') }}
              </span>
            </td>
            <td>{{ setor.dataEncerramento ? (setor.dataEncerramento | date:'dd/MM/yyyy') : '-' }}</td>
            <td class="table-actions">
              <div class="action-buttons">
                  <button class="btn-icon edit" (click)="abrirModalEdicao(setor)" title="Editar Setor">
                    <mat-icon>edit</mat-icon>
                  </button>
              
                  <button class="btn-icon delete" (click)="deletarSetor(setor.id)" title="Excluir Setor">
                    <mat-icon>delete</mat-icon>
                  </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>

<app-cadastrar-setor-dialog
  *ngIf="mostrarModal"
  (fechar)="fecharModal()"
  (setorCadastrado)="atualizarLista()">
</app-cadastrar-setor-dialog>

<app-cadastrar-setor-dialog
  *ngIf="mostrarModal"
  [setorParaEditar]="setorSelecionadoParaEdicao"
  (fechar)="fecharModal()"
  (setorSalvo)="atualizarLista()">
</app-cadastrar-setor-dialog>

<app-confirm-dialog
  *ngIf="idSetorParaExcluir !== null"
  titulo="Excluir Setor"
  mensagem="Tem certeza que deseja excluir este setor? Esta ação removerá os dados permanentemente do sistema."
  (resposta)="aoResponderExclusao($event)">
</app-confirm-dialog>